.expanded {
	padding: 72pt 0;
}

.expanded__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	@include desktop {
		flex-direction: row;
	}
}

.expanded__media {
	order: 1;
	text-align: center;

	@include desktop {
		width: 50%;
		flex-shrink: 0;
		order: unset;
	}
}

.expanded__content {
	order: 2;

	@include desktop {
		padding: 0 16pt;
		width: 50%;
		flex-shrink: 0;
		order: unset;
	}
}

.expanded:nth-child(even) {
	.expanded__media {
		order: 1;

		@include desktop {
			order: 1;
		}
	}
}

.expanded:nth-child(odd){
	.expanded__content{
		text-align: right;
	}
	.expanded__title{
		opacity: 0;
		transform: translateX(5%);
		transition: opacity .35s ease-in-out, transform .35s ease-in-out;

		&.active_fade_txt{
			opacity: 1;
			transform: translateX(0);
		}

		@include phone {
			transform: translateX(0) translateY(10%);

			&.active_fade_txt{
				transform: translateX(0) translateY(0);
			}
		}
	}
	.expanded_text.delayed{
		opacity: 0;
		transform: translateX(10%);
		transition: opacity .25s ease-in-out, transform .25s ease-in-out;
		transition-delay: .2s;

		&.active_fade_txt{
			opacity: 1;
			transform: translateX(0);
		}
		@include phone {
			transform: translateX(0) translateY(10%);

			&.active_fade_txt{
				transform: translateX(0) translateY(0);
			}
		}
	}
	.expanded__media {
		opacity: 0;
		transform: translateX(-5%);
		transition: opacity .35s ease-in-out, transform .35s ease-in-out;

		&.active__fade{
			opacity: 1;
			transform: translateX(0);
		}
		@include phone {
			transform: translateX(0) translateY(25%);

			&.active__fade{
				transform: translateX(0) translateY(0);
			}
		}
	}
}

.expanded {
	@include phone {
		.expanded__content{
			text-align: center !important;
		}
	}
	.expanded__title{
		opacity: 0;
		transform: translateX(-5%);
		transition: opacity .35s ease-in-out, transform .35s ease-in-out;

		&.active_fade_txt{
			opacity: 1;
			transform: translateX(0);
		}

		@include phone {
			transform: translateX(0) translateY(10%);

			&.active_fade_txt{
				transform: translateX(0) translateY(0);
			}
		}
	}
	.expanded_text.delayed{
		opacity: 0;
		transform: translateX(-10%);
		transition: opacity .25s ease-in-out, transform .25s ease-in-out;
		transition-delay: .2s;

		&.active_fade_txt{
			opacity: 1;
			transform: translateX(0);
		}

		@include phone {
			transform: translateX(0) translateY(10%);

			&.active_fade_txt{
				transform: translateX(0) translateY(0);
			}
		}
	}
	.expanded__media {
		opacity: 0;
		transform: translateX(5%);
		transition: opacity .35s ease-in-out, transform .35s ease-in-out;

		&.active__fade{
			opacity: 1;
			transform: translateX(0);
		}

		@include phone {
			transform: translateX(0) translateY(10%);

			&.active__fade{
				transform: translateX(0) translateY(0);
			}
		}
	}
}

/* Actual content */
.expanded__image {
	width: 90%;
	max-width: 220px;
	padding: 16pt 0;

	@include desktop {
		max-width: 280px;
	}
}

.expanded__title {
	max-width: 550px;
}

.expanded__content p {
	max-width: 60ch;
}
