.steps {
	text-align: center;
	padding: 16pt 0;
	overflow: hidden;
}

.steps__inner {
	@include desktop {
		-js-display: flex;
		display: flex;
		justify-content: space-around;
	}
}

.step {
	padding: 16pt 0;
	text-align: center;
	width: 100%;
	border-top: 1px solid $line;
	overflow: auto;

	&:first-child {
		border-top: none;
	}

	@include desktop {
		border-top: none;
		width: auto;
	}
}

.step__media {
	margin: 16pt 0;

	@include desktop {
		margin: 32pt 0;
	}
}

.step__image {
	max-height: 100px;
	max-width: 222px;
	margin-top: 8pt;
	@include noDragging;

	@include tablet {
		max-width: none;
	}
}

.step__text {
	max-width: 25ch;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.fade_in_top_image {
  opacity: 0;
  transition: opacity .35s ease-in, transform .35s ease-in;
  transform: translateY(10%);

  &.active__fade {
    opacity: 100%;
    transform: translateY(0);
  }
}

.fade_in_top_text {
	opacity: 0;
	transform: translateY(60%);
	transition: opacity .25s, transform .25s;
	transition-delay: .3s;

	&.active_fade_txt{
		opacity: 1;
		transform: translateY(0);
	}
}
