// Colors
$primary: #3E2247;
$secondary: #003C50;
$accent: #00698C;
$primary-dark: darken($primary, 8%);
$text: #999;
$text-dark: #fff;
$background:   #000b25; 
$background-alt: #172138;
$background-dark: #333c44;
$line: #eee;
$success: $accent;
$error: tomato;

// Typography
$font: "Quicksand", sans-serif;
$font-size: 15px;
$line-height: 1.7;
$normal: 400;

// Other variables
$radius: 30px;

// Containers
$containerWidth: 88%; // Percentage of screen width
$containerMax: 1080px; // Largest fixed width
$text-container: 640px; // Limit texts for readability

// Media queries
$tablet-width: 600px !default; // Tablets
$desktop-width: 992px !default; // Desktops & Laptops
$huge-width: 1400px !default; // Large Desktops

/* Components */

// Navigation bar
$navbar-height: 60px; // Height for navigation globally
$navbar-height-extended: 70px; // Extended height for navigation => Used on landing

// Hero
$hero-color: #fff;
$hero-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
$hero-color-opacity: 0.9;
$hero-mask-opacity: 0.66;
$hero-down-size: 1rem;
