{{ define "main" }}

{{ if not .IsHome }}
<!-- Hero unit -->
<div class="page__header">
	<div class="hero__overlay hero__overlay--gradient"></div>
	<div class="hero__mask"></div>
	<div class="page__header__inner">
		<div class="container">
			<div class="page__header__content">
				<div class="page__header__content__inner" id="navConverter">
					<h1 class="page__header__title">{{ .Title }}</h1>
					<p class="page__header__text">{{ .Params.subtitle }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}

<!-- Page content -->
<div class="page">
	<div class="container">
		<div class="page__inner">
			<div class="page__main">
				{{if .Content}}
					<div class="text-container">{{ .Content }}</div>
				{{else}}

				{{ if not .IsHome }}
				<div class="text-container text-container--center">
				<ul class="post-list">
					{{ range (where .Data.Pages "Section" "!=" "") }}

					<li class="post-block">
						
						<h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
						<span> <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
						 	{{ .Date.Format "2 Jan 2006" }}
						 </time> by 
						   {{$author:= .Site.Params.author}}
						   {{if .Params.author }}
						   {{$author:= .Params.author}}
						   {{if isset .Site.Data.authors $author}}
						   {{$author := index .Site.Data.authors .Params.author }}
						   {{end}}
						   {{end}}
						 {{ if isset $author "name" }}
						 {{$author.name}}
						 {{else if .Site.Params.author}}
						 {{.Site.Params.author}}
						 {{end}}</span>
						{{ .Summary | safeHTML }}
						 <footer class="read-more">
						<a href="{{ .RelPermalink }}">Read more&raquo;</a>
							   



						 </footer>

				
					</li>


					{{ end }}
				</ul>
				</div>
				{{end}}
				{{ end }}
			</div>
		</div>
	</div>
</div>
</div>
{{ end }}