{{ define "main" }}

{{ if not .IsHome }}
<!-- hero unit -->
<div class="page__header">
	<div class="hero__overlay hero__overlay--gradient"></div>
	<div class="hero__mask"></div>
	<div class="page__header__inner">
		<div class="container">
			<div class="page__header__content">
				<div class="page__header__content__inner" id="navConverter">
					<h1 class="page__header__title">{{ .Title }}</h1>
					<p class="page__header__text">{{ .Params.subtitle }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
<div class="page">
	<div class="container">
		<div class="page__inner">
			<div class="page__main">
				{{if .Content}}
					{{if eq .Params.justify "center"}}
						<div class="text-container text-container--center"> {{ .Content }}</div>
					{{else}}
						<div class="text-container">{{ .Content }}</div>
					{{end}}
				{{else}}

				{{ if not .IsHome }}
				<div class="text-container text-container--center">
				<ul class="post-list">
					{{ range (where .Data.Pages "Section" "!=" "") }}

					<li class="post-block">
						
						<h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
						<span> <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
						 	{{ .Date.Format "2 Jan 2006" }}
						 </time> by 
						  {{if .Params.githubusername}}
						  <a href="https://github.com/{{.Params.githubusername}}">{{.Params.author}}</a>
						  {{else}}
						  {{if .Params.author}}
						  {{.Params.author}}
						  {{else}}
						  {{.Site.Params.author}}
						  {{end}}
						  {{end}}
						 </span>
						 {{ .Summary | safeHTML }}
					 	 <footer class="read-more">
							 <a href="{{ .RelPermalink }}">Read more&raquo;</a>
				 		 </footer>
					</li>
					{{ end }}
				</ul>
				</div>
				{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</div>
</div>
{{ end }}